.searchBar {
  display: flex;
  max-width: 880px;
  justify-content: baseline;
  width: 100%;
}

.navFlex {
  display: flex;
  justify-content: baseline;
}

.fa {
  margin-left: 30px;
  font-size: 25px;
}

input {
  margin-left: 60px;
  width: 300px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}
#header {
  font-size: 20px;
  margin-left: 10%;
}
.pLine {
  width: 2px solid black;
  height: 50px;
}
